body {
	background-color: black;
	color: rgb(6, 61, 6);
}

h1 {
	background-color: grey;
	padding-left: 30px;
	margin-bottom: 0;
}

/* this only defines paramteters of the content area */
div {
	width: 400px;
	height: 100px;
}

#div1 {
	background-color: #635C51;
	border-width: 5px;				/* this makes div bigger, border added on top */
	border-color: orange;
	border-style: solid;
	border-radius: 10px;
	margin-left: 20px;
}
#div2 {
	background-color: #7D7461;
	border-width: 5px;				/* this makes div bigger */
	border-color: rgb(73, 179, 57);
	border-left-width: 10px; 
	border-style: dashed solid;
	box-sizing: border-box;			/* this makes div size constant, border added inside */
	margin: 10px;
}
#div3 {
	background-color: #B0A990;
	border: 7px solid yellow;		/* shorthand version */
	border-left-style: dotted;
	border-radius: 10%;				/* percentage of the width/height */
}
#div4 {
	width: 100px;
	height: 100px;
	background-color: #B0A990;
	border: 7px solid orange;		/* shorthand version */
	border-left-style: solid;
	border-radius: 50%;				/* percentage of the width/height */
	text-align: center;
}

/* padding */
button {
	padding: 10px;					/* all borders */
	padding: 10px 20px;				/* vertical horizontal */
	padding: 10px 20px 30px;		/* top horizontal bottom */
	padding: 10px 20px 30px 40px;	/* top right bottom left */
	margin: 20px;
}




