/* {
	border-color: white;
	border-style: solid;
} /**/


body {
	background-color: black;
	color: green;
}

h1 {
	color: lightblue;
	text-align: center;
	margin-bottom: 10px;
}

.maintext {
	color: lightgreen;
}

li ol {
	color: darkgreen;
}